<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HetznerFrameworkPOC" parallel="false">
    <listeners>
        <listener class-name="CustomUtils.TestListener"/>
        <listener class-name="CustomUtils.AnnotationTransformer"/>
    </listeners>
    <test name="Regression" >
        <classes>
            <class name="WebTests.Hetzner_Web"/>
        </classes>
    </test>
</suite>


